:root {
  --navy:#051D31;
  --gold:#CBA135;
  --gray:#0D0D0D;
  --white:#F5F5F5;
}

@font-face {
    font-family: 'playfair';
    src: url(../fuente/playfairdisplay_fuente.ttf);
}

* {
    margin:0;
    box-sizing:border-box
}

body {
    font-family: 'playfair';
    color: var(--gray);
}

.menu-externo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(5,29,49,.95);
  padding: 10px 20px;
  z-index: 10;
}

.menu-externo .logo img {
  height: 60px;
  margin-left: 190px;
  margin-top: 10px;
}

.menu-opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.menu-opciones a {
  color: var(--gold);
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  transition: color 0.3s;
}

.multimedia {
  padding-top: 80px;
  text-align: center;
}

.titulo-multimedia {
  margin-top: 70px;
  font-size: 38px;
  color: var(--navy);
}

.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.9);
}

.modal-contenido {
  position: relative;
  max-width: 80%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);
}

#modal-img-1, #modal-img-2, #modal-img-3, #modal-img-4 {
  max-width: 600px;
  max-height: 700px;
  border-radius: 10px;
}

.cerrar {
  position: absolute;
  top: 15px;
  right: 35px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.flecha {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: white;
  cursor: pointer;
  padding: 16px;
  user-select: none;
}

.flecha.izq {
  left: 0;
}

.flecha.der {
  right: 0;
}

.flecha:hover, .cerrar:hover {
  color: var(--gold);
}

.galeria {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  padding: 30px;
}

.imagen-item {
  text-align: center;
  cursor: pointer;
}

.imagen-item img {
  height: 450px;
  width: 100%;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imagen-item p {
  padding: 16px;
  background-color: rgba(5,29,49,.60);
  margin-top: 8px;
  font-size: 16px;
  color: var(--white);
}

.carrusel-container { 
  width:100%; 
  overflow:hidden; 
  border-radius:10px; 
  height:450px; 
}

#carrusel-slider-1, #carrusel-slider-2, #carrusel-slider-3, #carrusel-slider-4 { 
  display:flex; 
  will-change: transform; 
}

#carrusel-slider-1 img, #carrusel-slider-2 img, #carrusel-slider-3 img, #carrusel-slider-4 {
  width:100%;
  height:450px;
  object-fit:cover;
  flex:0 0 100%;
  cursor:pointer;
}

#modal-img-general {
  max-width: 90%;
  max-height: 90vh;
  border-radius: 10px;
}

.pie {
  margin-right: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  color: var(--gray);
  padding: 15px;
  margin-top: 0px;
}

.aplications {
 margin-left: 10px;
 display: flex;
 gap: 8px;
}

.iconstam {
  height: 35px;
}

