:root{
  --navy:#051D31;
  --gold:#CBA135;
  --gray:#0D0D0D;
  --white:#F5F5F5;
}

@font-face{
    font-family: 'playfair';
    src: url(../fuente/playfairdisplay_fuente.ttf);
}

*{
  margin:0;
}

body {
  font-family: 'playfair';
  position: relative;
}

.menu-externo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: rgba(5,29,49,.95);
  padding: 10px 20px;
  z-index: 10;
}

.menu-externo .logo img {
  height: 60px;
  margin-left: 190px;
  margin-top: 10px;
}

.menu-opciones {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-right: 55px;
}

.menu-opciones a {
  color: var(--gold);
  text-decoration: none;
  font-size: 20px;
  padding: 10px 15px;
  transition: color 0.3s;
}

.contenido {
    margin-top: 175px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.contenido img {
    max-width: 500px;
    margin-bottom: 20px;
}

.contenido h1 {
    margin-top: 10px;
    font-size: 28px;
    color: var(--gold);
}

.contenido p {
    margin-top: 5px;
    font-size: 18px;
    color: var(--gray);
}

.pie{
    margin-top: 110px;
    gap: 10px;
    display: flex;
    align-items: center;
    margin-left: 999px;
    font-size: 20px;
    color: var(--gray);
}

.aplications{
    margin-left: 15px;
    margin-right: 40px;
}
.iconstam {
    height: 35px;
}